extends ../base


block content 
    main
        section(class="py-[6rem] px-[2rem] min-h-[80rem]")
        
            div(class="flex flex-col gap-[4rem]")
            
                article(class="flex flex-col gap-[2rem]")
                        h1(class="text-3xl font-[700]")
                            | Organisatie
                        div(class="flex flex-col gap-[.8rem]")
                            h2(class="text-xl font-[600]")
                                | Bouwmanagement en Maatschappelijk Vastgoed
                            div(class="flex flex-col leading-7 justify-center font-[300]")
                                p(class="")
                                | Het ontwikkelen en realiseren van maatschappelijke voorzieningen is
                                | binnen de gemeente Amsterdam in handen van team BMV: Bouwmanagement
                                | en Maatschappelijk Vastgoed, onderdeel van het Projectmanagementbureau.
                                | Bij BMV werken bouwmanagers en project- en procesmanagers, samen met
                                | collega&rsquo;s van verschillende gemeentelijke afdelingen, aan de toekomst
                                | van de stad.
                                p(class="")
                                | BMV stond aan de wieg van het Amsterdamse beleid voor maatschappelijke
                                | voorzieningen. Dit beleid werd in 2018 verankerd in de &lsquo;Referentienormen
                                | voor maatschappelijke voorzieningen, groen en spelen&rsquo;. Het doel van
                                | deze normen is de groei van de stad te koppelen aan maatschappelijke
                                | voorzieningen en activiteiten. Deze worden niet vanzelfsprekend door de
                                | private sector opgepakt en vragen daarom een actieve rol van de
                                | gemeentelijke overheid. Het gaat hierbij om gebouwen (zogenaamd
                                | maatschappelijk vastgoed) en het &ndash; letterlijk &ndash; cre&euml;ren van ruimte voor
                                | sport, spel, kunst en cultuur.
                                p(class="")
                                | Naast de maatschappelijke voorzieningen werkt BMV ook aan beheer en
                                | faciliteren van goede werkplekken - zoals kantoren, werven, garages en
                                | opslagruimtes - voor de mensen die de stad en het stadslandschap schoon
                                | en netjes houden. De stadsdeelkantoren en andere kantoren voor de
                                | gemeentelijke organisatie zijn ook onderdeel van ons werkveld.

                article(class="flex flex-col gap-[1rem]")
                        h2(class="text-2xl font-[700]")
                            | Werkwijze
                        div(class="flex flex-col gap-[.8rem]")
                            div(class="flex flex-col leading-7 justify-center font-[300]")
                                p(class="w-[85%]")
                                    span(class="")
                                        | Integrale aanpak
                                    |                     De werkgebieden en de expertise van bouwmanagement en maatschappelijk
                                    |                     vastgoed overlappen elkaar, vullen elkaar aan en versterken elkaar.
                                p(class="w-[85%]")
                                    | BMV hanteert daarom een integrale aanpak: een kruisbestuiving tussen
                                    | verschillende disciplines, uiteenlopend van proces-, project- en
                                    | bouwmanagement tot planning, financi&euml;n, grond en ontwikkeling,
                                    | vastgoed en juridische zaken.
                                p(class="w-[85%]")
                                    | De werkzaamheden van BMV omvatten onder andere en natuurlijk
                                    | afhankelijk van het soort project:

                            div(class="flex flex-col leading-7 justify-center font-[300]")
                                ul(class="p-[.4rem] flex flex-col gap-[.3rem]  list-disc")
                                    li(class="")
                                        | bestuurlijk adviseren van verschillende directies en het
                                        | gemeentebestuur (het College van B&amp;W en de gemeenteraad) in de
                                        | verschillende beleidsfases
                                    li(class="")
                                        | opstellen van een programma van eisen
                                    li(class="")
                                        | onderzoek doen naar geschikte locaties
                                    li(class="")
                                        | controleren van het budget in relatie tot de ambities
                                    li(class="")
                                        | aansturen van een ontwerptraject
                                    li(class="")
                                        | organiseren van selecties en aanbestedingen
                                    li(class="")
                                        | voorbereiden en co&ouml;rdineren van de bouw
                                    li(class="")
                                        | verzorgen van het feestje rond de oplevering.
                            div(class="flex flex-col leading-7 justify-center font-[300]")
                                p(class="")
                                | BMV schakelt tussen project en proces.
                                p(class="")
                                | Het team is binnen de gemeente Amsterdam h&eacute;t adres voor vraagstukken
                                | op het snijvlak van het sociale en fysieke domein.
                                p(class="")
                                | BMV biedt een integraal en overzichtelijk pakket per project.
                                p(class="")
                                | En het verbindt de wensen van de opdrachtgever en de gebruiker aan
                                | de mogelijkheden in het gebied, de kosten en de planning.

                article(class="flex flex-col gap-[1rem]")
                        h2(class="text-2xl font-[700]")
                            | BMV-teams
                        div(class="font-[300]")
                            p(class="")
                                span(class="")
                                    | Zelfstandig, dynamisch, innovatief
                                |                     Bij BMV werken rond de 60 bouwmanagers en project- en procesmanagers
                                |                     maatschappelijk vastgoed, met als thuisbasis een kantoor in het hart
                                |                     van Amsterdam.
                            p(class="")
                                | Waar nodig schakelt BMV externe experts in, voor specifieke aspecten
                                | van een project.
                            p(class="")
                                | BMV stuurt projecten aan vanuit zelfstandig werkende teams met korte
                                | lijnen en veel dynamiek.
                            p(class="")
                                | In de teams hebben de betreffende medewerkers voldoende tijd om van
                                | elkaar te leren, innovatieve idee&euml;n te ontwikkelen of zelfs met een
                                | compleet nieuwe aanpak te komen.
                            p(class="")
                                | Immers, een stad als Amsterdam staat &ndash; net als het leven zelf &ndash;
                                | nooit stil.
                            p(class="")
                                | Kijk op de pagina  

                                a(href="/projecten" class="font-[400]")
                                    | &apos;Projecten&apos;
                                |  voor meer informatie over recente projecten waar BMV aan bijdroeg of
                                |  momenteel bij betrokken is.


