extends ../base

block content
    section(class="werken")
        article(class="flex flex-col justify-center gap-[2rem] p-16")
            h1(class="text-2xl font-[600]") Werken bij

            div(class="flex flex-col  gap-[1rem]")
                h2(class="text-xl font-[500]") Werken of stage lopen bij BMV

                div(class="flex flex-col gap-1 justify-center font-[300]")
                    p(class="")
                    | BMV is altijd op zoek naar nieuwe collega&rsquo;s, om aan de slag te gaan als
                    | junior-, medior- of senior-bouwmanager of projectmanager maatschappelijk
                    | vastgoed
                    p(class="")
                    | Het team zoekt mensen met ervaring en een opleiding in het wetenschappelijk
                    | of hoger beroepsonderwijs, bijvoorbeeld op het gebied van bouwkunde,
                    | architectuur en vastgoedmanagement.
                    p(class="")
                    | Maar ook aan mensen met een ogenschijnlijk minder voor de hand liggende
                    | achtergrond, bijvoorbeeld rechten, sociologie of psychologie, heeft BMV
                    | behoefte.
                    p(class="")
                    | En in alle gevallen zijn een brede blik, flexibiliteit, goede
                    | omgevingsgevoeligheid en affiniteit met maatschappelijk vastgoed en het
                    | sociaal domein vereisten voor het werken bij BMV.
                    p(class="")
                    | Wie nog studeert, is van harte welkom om stage te lopen bij BMV. Werk mee
                    | in mooie projecten, krijg inzicht in het project- en bouwmanagement en
                    | leer de gemeente Amsterdam kennen.
                    p(class="")
                    | Stuur voor meer informatie over werken of stage lopen bij BMV een e-mail
                    | (met daarin in elk geval persoonlijke gegevens, een telefoonnummer en een
                    | curriculum vitae) naar capaciteit.BMV@amsterdam.nl.
                    p(class="")
                        | Kijk voor openstaande vacatures op 
                        a(class="font-[400]" href='https://werkenbij.amsterdam.nl/')
                            | https://werkenbij.amsterdam.nl
                        | .
    