footer(class=" flex w-full min-h-footer_height justify-between flex-wrap items-start bg-[#0A1D56] text-white pt-12 pl-8 pr-8 pb-8") 

    ul(class="flex flex-col gap-4")
        h4(class="font-bold") Mail 
        li(class="")
            p(class="") capaciteit/BMV@amsterdam.nl
        li(class="flex flex-col gap-2")
            h4(class="font-bold") Over deze site
            div(class="flex flex-col gap-1")
                p(class="") > Colofoon
                p(class="") > Proclaimer en Copyright
                p(class="") > Sitemap

        
    ul(class="flex flex-col gap-4") 
        h4(class=" font-bold") Volg het ProjectManagement Bureau 
        li(class="flex flex-col gap-1")
            p(class="") > Twitter
            p(class="") > Linkedin 
        h4(class="font-bold") Amsterdam.nl
        li(class="")
            p(class="w-56") Nieuws en publieksinformatie van de gemeente Amsterdam vindt u op amsterdam.nl

            


    ul(class="flex flex-col gap-4")
        h4(class="font-bold") Openingstijden
        p(class="w-60") PMB is bereikbaar op werkdagen tussen 8.30 - 17.30 uur.

        div(class="")
            li(class="") logo