extends ../../base

block content 

    section()
        article
            div(class="relative")
                img(class="w-full object-cover h-slider" src="/images/pmv/projecten/viewproject/folder6/1.jpg" alt="image")
                h3(class="absolute top-1/2 left-1/2 transform -translate-x-1/2 text-[#e14b8e] -translate-y-1/2 text-3xl font-[700]") Renovatie Amsterdam Museum


            ul(class=" px-[2rem] py-[4rem]")
                li(class="flex flex-col gap-[1rem]")
                    h2(class="text-xl") Amsterdam Museum: renovatie in voorbereiding
                    div(class="flex flex-col gap-[.5rem] w-[80%]")
                        p(class="")
                            | Het nieuwe Amsterdam Museum wordt een publieksvriendelijke plek waar
                        p(class="")
                            | bezoekers en bewoners Amsterdam leren kennen, in een museumgebouw
                        p(class="")
                            | dat in verbinding staat met de buurt, de stad en haar bewoners.
                        p(class="")
                            | Het ontwerp voor het nieuwe Amsterdam Museum is gebaseerd op uitvoerig
                        p(class="")
                            | onderzoek naar de ontstaansgeschiedenis van het monument, naar mogelijk
                        p(class="")
                            | hergebruik van materialen uit het verleden en naar inbedding in het
                        p(class="")
                            | middeleeuwse hart van de binnenstad. Met inventieve oplossingen
                        p(class="")
                            | verandert het gesloten monument in een open museum: met aandacht voor
                        p(class="")
                            | de geschiedenis van het gebouw en de plek. Dankzij de renovatie zal het
                        p(class="")
                            | gebouw bovendien voldoen aan actuele duurzaamheidseisen.
                        p(class="")
                            | De voorbereidingen van de renovatie zijn inmiddels in volle gang. BMV
                        p(class="")
                            | begeleidt de gehele renovatie, van haalbaarheidsonderzoek tot de
                        p(class="")
                            | oplevering en opening van het nieuwe museum.
                        
                        
                        a(href="https://bsdewereldburger.nl/" target="_blanks" class="text-red-500") www.bsdewereldburger.nl

                        p(class="") Ontwerper: 
                            span Neutelings Riedijk Architecten
                    div(class="flex gap-[4rem] flex-wrap")
                        img(class="w-[40rem] h-[30rem] object-cover" src="/images/pmv/projecten/viewproject/folder6/2.jpg", alt="")
                        img(class="w-[40rem] h-[30rem] object-cover" src="/images/pmv/projecten/viewproject/folder6/3.jpg", alt="")
                        img(class="w-[40rem] h-[30rem] object-cover" src="/images/pmv/projecten/viewproject/folder6/4.jpg", alt="")
                        img(class="w-[40rem] h-[30rem] object-cover" src="/images/pmv/projecten/viewproject/folder6/5.jpg", alt="")
