extends ../../base

block content 

    section()
        article
            div(class="relative")
                img(class="w-full object-cover h-slider" src="/images/pmv/projecten/viewproject/folder4/1.jpg" alt="image")
                h3(class="absolute top-1/2 left-1/2 transform -translate-x-1/2 text-[#E3FDFD] -translate-y-1/2 text-3xl font-[700]") Renovatie de Wereldburger


            ul(class=" px-[2rem] py-[4rem]")
                li(class="flex flex-col gap-[1rem]")
                    h2(class="text-xl") Wereldburger: prijswinnende renovatie
                    div(class="flex flex-col gap-[.5rem] w-[80%]")
                        p(class="")
                        | Het gebouw van basisschool De Wereldburger in Amsterdam Nieuw-West (Osdorp) dateerde uit de jaren ’60.
                        p(class="")
                            | Grootschalige renovatie was nodig om het te laten voldoen aan de huidige onderwijskundige en technische eisen.
                        p(class="")
                            | Een team van BMV verzorgde de renovatie.
                        p(class="")
                            | Het gebouw werd gesloopt tot op het betoncasco en vanaf daar weer opgebouwd.
                        p(class="")
                            | Bij de renovatie was hergebruik een belangrijk uitgangspunt.
                        p(class="")
                            | Waar mogelijk werden materialen uit het oorspronkelijke schoolgebouw gebruikt, evenals materialen uit andere panden.
                        p(class="")
                            | Het resultaat mag er zijn en de vernieuwde Wereldburger viel al snel in de prijzen.
                        p(class="")
                            | In 2022 werd het gebouw bekroond met de publieksjuryprijs bij de jaarlijkse Amsterdamse Architectuurprijs en won het de NRP Gulden Fenix (de nationale prijs voor voorbeeldprojecten in renovatie en transformatie) in de categorie ‘renovatie’.
                        
                        a(href="https://bsdewereldburger.nl/" target="_blanks" class="text-red-500") www.bsdewereldburger.nl

                        p(class="") Ontwerper: 
                            span Moke Architecten 
                        p(class="") Fotograaf: 
                            span Thijs Wolzak 
                    div(class="")
                        img(class="w-[40rem] h-[30rem] object-cover" src="/images/pmv/projecten/viewproject/folder4/2.jpg", alt="")
