extends ../../base

block content 

    section()
        article
            div(class="relative")
                img(class="w-full object-cover h-slider" src="/images/pmv/projecten/viewproject/folder2/1.jpg" alt="image")
                h3(class="absolute top-1/2 left-1/2 transform -translate-x-1/2 text-[#cb44da] -translate-y-1/2 text-3xl font-[700]") Nieuwbouw AICS


            ul(class=" px-[2rem] py-[4rem]")
                li(class="flex flex-col gap-[1rem]")
                    h2(class="text-xl") Amsterdam International Community School (AICS): wereldschool in wereldstad
                    div(class="flex flex-col gap-[.5rem] w-[80%]")
                        p(class="")
                            | Vlak achter het VU-universiteitscomplex op de Zuidas is eind 2021 de
                            | Amsterdam International Community School (AICS) opgeleverd.
                        p(class="")
                            | BMV was vanaf het prille begin betrokken bij de bouw van de school: van het locatieonderzoek tot aan de oplevering.
                        p(class="")
                            | Het schoolgebouw van 16.000 vierkante meter biedt plek aan 1.400 basis- en
                            | middelbare schoolleerlingen. In het kader van duurzaamheid zijn diverse maatregelen getroffen.
                            | Zo is er een groen dak aangelegd en zijn er zonnepanelen geplaatst.
                            | De gevel is natuurinclusief,  over enkele jaren is deze verticale tuin begroeid met planten.
                            | Ook zijn er kasten voor huismussen en vleermuizen geplaatst.
                        p(class="")
                            | In het gebouw is een wandelement in de centrale hal over de gehele lengte,
                            | gemaakt van de gekapte bomen die plaats moesten maken voor het
                            | gebouw, een belangrijke sfeermaker.
                        p(class="")
                            | BMV stuurde het ontwerptraject aan, gaf vorm aan alle inkoopprocessen en
                            | vergunningtrajecten, organiseerde bewonersparticipatie en -communicatie,
                            | stemde af met de vele stakeholders in het gebied en verzorgde het contractmanagement met de aannemer.
                        p(class="")
                            | En zo groeide de AICS uit tot wat het nu is: een school die met succes is gebouwd, op tijd, binnen budget en met de gewenste kwaliteit.              
                        a(href="https://www.aics.espritscholen.nl" target="_blanks" class="text-red-500") www.aics.espritscholen.nl

                        p(class="") Ontwerper: 
                            span Mecanoo Architecten
                        p(class="") Fotograaf: 
                            span Stijn Poelstra
                    div(class="flex flex-col gap-[1rem]")
                        div(class="w-[40rem] h-[26rem]")
                            video(class="w-[100%] h-[100%]" autoplay controls  muted)
                                source(src='/images/pmv/projecten/viewproject/folder2/5.mp4', type='video/mp4')


                        div(class="flex gap-[4rem] flex-wrap")
                            img(class="w-[40rem] h-[30rem] object-cover" src="/images/pmv/projecten/viewproject/folder2/2.jpg", alt="")
                            img(class="w-[40rem] h-[30rem] object-cover" src="/images/pmv/projecten/viewproject/folder2/3.jpg", alt="")

