extends ../../base

block content 

    section()
        article
            div(class="relative")
                img(class="w-full object-cover h-slider" src="/images/pmv/projecten/viewproject/folder8/1.jpg" alt="image")
                h3(class="absolute top-1/2 left-1/2 transform -translate-x-1/2 text-[#050f0f] -translate-y-1/2 text-3xl font-[700]") Verbouwing en Nieuwbouw Werven en Overslagpunten


            ul(class=" px-[2rem] py-[4rem]")
                li(class="flex flex-col gap-[1rem]")
                    h2(class="text-xl") Programma Transitie Werven en Overslagpunten
                    div(class="flex flex-col gap-[.5rem] w-[80%]")
                        p(class="")
                            | In Amsterdam zorgen meer dan 2500 ambtenaren  elke dag voor de
                            | reiniging, de handhaving, de afvalinzameling en het dagelijks onderhoud
                            | van de openbare ruimte van de stad inclusief de kades en de bruggen en
                            | het groen. Zij werken vanuit 37 locaties in de stad.
                        p(class="")
                            | Sinds 2019 en ook nog de komende jaren werken 12 bouwmanagers van
                            | Team BMV met andere collega’s van de gemeente samen om die 37
                            | werklocaties in de stad samen te voegen tot 23.
                        p(class="")
                            | Deze nieuwe uitvoeringslocaties moeten optimaal zijn: slim ruimtegebruik,
                            | duurzaamheid en toekomstbestendigheid zijn leidend. Er wordt ook
                            | gekeken naar het verminderen van vervoerbewegingen en de mogelijkheid
                            | van vervoer over water.
                        p(class="")
                            | Belangrijk uitgangspunt is het bieden van een prettige werkomgeving en de
                            | juiste faciliteiten aan de mensen die het zware werk doen voor de stad. Er
                            | wordt hard gewerkt om in 2027 alle 23 nieuwe locaties gereed te hebben.
                        


                        div(class="") Meer weten? Luister dan naar deze podcast 
                            a(href="https://hoofdstad.sharepoint.com/:u:/r/sites/PMB-BMV22/Gedeelde%20documenten/General/Subteam%20Communicatie/Website/TW/VPRC-podcast-7.mp3?csf=1&web=1&e=knxFWY" target="_blanks" class="text-red-500") VPRC-podcast-7.mp3

                        p(class="") Omslagafbeelding: 
                            span Den Brielstraat, Witteveen + Bos 

                    div(class="flex gap-[4rem] flex-wrap")
                            div(class="flex flex-col gap-[.5rem]")
                                p(class=" ") Den Brielstraat, Witteveen + Bos
                                img(class="w-[40rem] h-[30rem] object-cover" src="/images/pmv/projecten/viewproject/folder8/2.jpg", alt="")

                            div(class="flex flex-col gap-[.5rem]")
                                p(class="") Volendammerweg Stedenbouwkundige inpassing nieuwbouw, Witteveen + Bos
                                img(class="w-[40rem] h-[30rem] object-cover" src="/images/pmv/projecten/viewproject/folder8/3.jpg", alt="")
                            
                            div(class="flex flex-col gap-[.5rem]")
                                p(class="") Volendammerweg Inrichting terrein nieuwe situatie, Witteveen + Bos
                                img(class="w-[40rem] h-[30rem] object-cover" src="/images/pmv/projecten/viewproject/folder8/4.jpg", alt="")
                                
                        
