extends ../../base

block content 

    section()
        article
            div(class="relative")
                img(class="w-full object-cover h-slider" src="/images/pmv/projecten/viewproject/folder5/1.jpg" alt="image")
                h3(class="absolute top-1/2 left-1/2 transform -translate-x-1/2 text-[#E3FDFD] -translate-y-1/2 text-3xl font-[700]") Kwartiermaker Nationaal Slavernijmuseum


            ul(class=" px-[2rem] py-[4rem]")
                li(class="flex flex-col gap-[1rem]")
                    h2(class="text-xl") Nationaal Slavernijmuseum
                    div(class="flex flex-col gap-[.5rem] w-[80%]")
                        p(class="")
                            | Nederland krijgt een eigen Nationaal Slavernijmuseum. Over een paar jaar
                            | zal het museum zijn deuren openen voor het publiek.
                        p(class="")
                            | Het trans-Atlantische slavernijverleden vormt het uitgangspunt voor het museum,
                            | met onder andere veel aandacht voor de Indisch-Oceanische slavernij.
                            | Inhoudelijk zal het museum zich richten op een breed publiek, 
                            | met een focus op educatie, kunst, kennis en onderzoek.
                            | Het initiatief wordt mede mogelijk gemaakt door steun van het ministerie van  
                            | Onderwijs, Cultuur & Wetenschap (OCW).
                        p(class="")
                            | Dit historische en grote project wordt opgezet door drie 
                            | kwartiermakers (Maatschappelijk, Museaal en Fysiek) die de handen ineenslaan.
                            | Vanuit de afdeling BMV is de kwartiermaker fysiek bij het project geleverd.
                            | Hij werkt met de twee andere kwartiermakers mee aan alle benodigde 
                            | producten voor de verdere besluitvorming in het project.
                        p(class="")
                            | Meer weten?
                        a(class="text-[#6b37b4]" href="https://www.amsterdam.nl/diversiteit/nationaal-slavernijmuseum/" target="_blank") https://www.amsterdam.nl/diversiteit/nationaal-slavernijmuseum/
                        
                        a(href="https://bsdewereldburger.nl/" target="_blanks" class="text-red-500") www.bsdewereldburger.nl

                        p(class="") Omslagfoto: 
                            span Kwartiermakers John Leerdam, Peggy Brandon, David
                        p(class="") Brandwagt. Fotograaf: 
                            span Tom Feenstra
                    div(class="flex flex-col gap-[.5rem]")
                        p(class="") Terugblik werkreis Suriname dialoogbijeenkomst
                        img(class="w-[40rem] h-[30rem] object-cover" src="/images/pmv/projecten/viewproject/folder5/2.jpg", alt="")
                    
