extends ../../base

block content 

    section()
        article
            div(class="relative")
                img(class="w-full object-cover h-slider" src="/images/pmv/projecten/viewproject/folder7/1.jpg" alt="image")
                h3(class="absolute top-1/2 left-1/2 transform -translate-x-1/2 text-[#0f1d2d] -translate-y-1/2 text-3xl font-[700]") Sportpark Goed Genoeg & Clubgebouw AFC


            ul(class=" px-[2rem] py-[4rem]")
                li(class="flex flex-col gap-[1rem]")
                    h2(class="text-xl") AFC: nieuwe velden, nieuw clubhuis
                    div(class="flex flex-col gap-[.5rem] w-[80%]")
                        p(class="")
                            | In 2020 verzorgde een team van bouwmanagers van BMV vijf nieuwe
                        p(class="")
                            | kunstgrasvelden en een gloednieuw clubhuis voor AFC, de Amsterdamsche Football Club.
                        p(class="")
                            | Dit moest gebeuren om AFC in te passen in de almaar groeiende Zuidas.
                        p(class="")
                            | BMV begeleidde de verplaatsing van de velden en het clubhuis in
                        p(class="")
                            | noordelijke richting, om op de ‘oude’ locatie ruimte te maken voor een nieuwe woonwijk.
                        p(class="")
                            | De werkzaamheden vonden gefaseerd plaats, zodat er tijdens de bouw gewoon kon worden gevoetbald.
                        p(class="")
                            | Het nieuwe clubgebouw is in 2020 opgeleverd. In september 2022 zijn het
                        p(class="")
                            | sportpark en het clubgebouw officieel in gebruik genomen.
                        
                        a(href="https://www.afc.nl" target="_blanks" class="text-red-500") www.afc.nl

                        p(class="") Fotograaf: 
                            span Marcel Steinbach 
                    div(class="")
                        img(class="" src="/images/pmv/projecten/viewproject/folder7/2.jpg", alt="")
