extends ../../base

block content 

    section()
        article
            div(class="relative")
                img(class="w-full object-cover h-slider" src="/images/pmv/projecten/viewproject/folder3/foto_1.png" alt="image")
                h3(class="absolute top-1/2 left-1/2 transform -translate-x-1/2 text-[#091a1a] -translate-y-1/2 text-3xl font-[700]") Renovatie Bostheater 


            ul(class=" px-[2rem] py-[4rem]")
                li(class="flex flex-col gap-[1rem]")
                    h2(class="text-xl") Bostheater: klassieke attractie, vernieuwde jas
                    div(class="flex flex-col gap-[.5rem] w-[80%]")
                        p(class="")
                            | Op dinsdag 23 mei 2023 vond de officiële opening plaats van het grootste
                            | openluchttheater van Nederland: het Bostheater.
                        p(class="")
                            | Het Bostheater is gebouwd in de jaren ’50 en voldeed niet meer aan de
                            | eisen van de huidige tijd. BMV bereidde de besluitvorming voor die geleid
                            | heeft tot het besluit om het Bostheater te renoveren.
                        p(class="")
                            | Na het besluit verzorgde en begeleidde het BMV de ontwerp- en
                            | bouwwerkzaamheden.  Het ontwerp is in een multidisciplinaire bouwteam
                            | zorgvuldig uitgewerkt. De focus van de bouwwerkzaamheden lag op de
                            | renovatie en restauratie van de betonnen onderdelen, waar mogelijk het herstellen 
                            | van het oorspronkelijke landschapsontwerp en het plaatsen van nieuwbouw voor 
                            | kleed-, opslag- en techniekruimten. 
                        p(class="")
                            | Tevens is de theaterinfrastructuur grotendeels vernieuwd en uitgebreid. 
                            | Op deze wijze is het theater omgetoverd tot een moderne cultuuroase, 
                            | die voldoet aan de eisen en wensen van de huidige tijd en daarmee weer 
                            | vele jaren tegemoet kan gaan.

                        a(href="https://www.bostheater.nl" target="_blanks" class="text-red-500") www.bostheater.nl

                        p(class="") Ontwerper: 
                            span Moke Architecten 
                        p(class="") Fotograaf: 
                            span Thijs Wolzak 

                        p(class="") Bijschrift omslagfoto:
                            span Impressiebeeld van de stalen overkapping op de boulevard

                    div(class="flex gap-[4rem] flex-wrap")
                            div(class="flex flex-col gap-[.5rem]")
                                p(class=" ") Impressiebeeld van de kleedkamers
                                img(class="w-[40rem] h-[30rem] object-cover" src="/images/pmv/projecten/viewproject/folder3/foto_2.png", alt="")

                            div(class="flex flex-col gap-[.5rem]")
                                p(class="") Impressiebeeld van de opslag
                                img(class="w-[40rem] h-[30rem] object-cover" src="/images/pmv/projecten/viewproject/folder3/foto_3.png", alt="")
