extends ../../base

block content 

    section()
        article
            div(class="relative")
                img(class="w-full object-cover h-slider" src="/images/pmv/projecten/viewproject/folder1/1.jpg" alt="image")
                h3(class="absolute top-1/2 left-1/2 transform -translate-x-1/2 text-[#E3FDFD] -translate-y-1/2 text-3xl font-[700]") Nieuwbouw Spinoza20first


            ul(class=" px-[2rem] py-[4rem]")
                li(class="flex flex-col gap-[1rem]")
                    h2(class="text-xl") Spinoza20First: duurzame school en sporthal
                    div(class="flex flex-col gap-[.5rem] w-[80%]")
                        p(class="")
                        | Waar ooit de parkeergarage van de voormalige Bijlmerbajes stond, zorgde een team van BMV voor de 
                        | realisatie van nieuwbouw van de Spinoza20First-school en Sporthal Bajeskwartier, met daaraan gekoppeld een jongerencentrum.
                        p(class="")
                            | Deze middelbare school biedt plek aan 1.000 tot 1.200 leerlingen.
                        p(class="")
                            | De sporthal bestaat uit drie zalen. Deze worden op doordeweekse dagen
                            | Het gebouw werd gesloopt tot op het betoncasco en vanaf daar weer opgebouwd.
                            | overdag gebruikt door Spinoza20First en in de avonden en weekenden door verenigingen.
                        p(class="")
                            | Bij de ontwikkeling van de school en de sporthal besteedde BMV veel aandacht aan duurzaamheid.
                            | Zo is het gebouw flexibel indeelbaar, heeft het een lichte constructie en is bij de bouw gebruik 
                            | gemaakt van duurzame materialen.
                            | Verder is het gebouw aangesloten op de warmte/koude-opslaginstallatie 
                            | (voor verwarming in de winter en verkoeling in de zomer) van het gebied Bajeskwartier.
                        p(class="")
                            | Het dak van de school – met daarop het schoolplein – bevat veel groen, dat
                            | bijdraagt aan het vasthouden van regenwater. Op het dak van de sporthal
                            | bevinden zich hiernaast zonnepanelen.
 
                        a(href="https://www.spinoza20first.nl" target="_blanks" class="text-red-500") www.spinoza20first.nl

                        p(class="") Ontwerper: 
                            span  BDG Architecten

                    div(class="flex flex-col gap-[1rem]")
                        div(class="w-[40rem] h-[26rem] ")
                            video(class="w-[100%] h-[100%]" autoplay controls autoloop muted)
                                source(src='/images/pmv/projecten/viewproject/folder1/7.mp4', type='video/mp4')

                        div(class="flex gap-[4rem] flex-wrap")
                            img(class="w-[40rem] h-[30rem] object-cover" src="/images/pmv/projecten/viewproject/folder1/2.jpg", alt="")
                            img(class="w-[40rem] h-[30rem] object-cover" src="/images/pmv/projecten/viewproject/folder1/3.jpg", alt="")
